In [8]:
import pandas as pd

#Načti data o zaměstnancích z CSV souborů do tabulek (DataFrame)
zam_praha = pd.read_csv("zam_praha.csv")
zam_plzen = pd.read_csv("zam_plzen.csv")
zam_liberec = pd.read_csv("zam_liberec.csv")

In [9]:
#Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.
zam_praha["město"] = "Praha"
zam_plzen["město"] = "Plzeň"
zam_liberec["město"] = "Liberec"

In [10]:
#Vytvoř novou tabulku zamestnanci a ulož do ní informace o všech zaměstnancích (operace concat)
zamestnanci = pd.concat([zam_praha, zam_plzen, zam_liberec], ignore_index=True)

In [11]:
#Ze souboru platy_2021_02.csv načti platy zaměstnanců za únor 2021. 
platy = pd.read_csv("platy_2021_02.csv")
#Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce cislo_zamestnance.
zamestnanci_platy = pd.merge(zamestnanci, platy, on=["cislo_zamestnance"], how="left")

In [17]:
#Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, znamená to, že v naší firmě již nepracuje.

#Nepovinný bonus 1: Ulož do proměnné počet zaměstnanců, kteří v naší firmě již nepracují.V rámci úspory se IT oddělení rozhodlo prověřit licence přidělené zaměstnancům, kteří ve firmě již nepracují. 
bývalí_zamestnanci=zamestnanci_platy[zamestnanci_platy["plat"].isnull()]
#Vytvoř samostatnou tabulku, která obsahuje jména zaměstnanců, kteří ve firmě již nepracují.
jmena_exzamestnancu=bývalí_zamestnanci[["jmeno","prijimeni"]]
#Tabulku ulož do souboru CSV.
jmena_exzamestnancu.to_csv("soubor.csv", index=False)

        jmeno prijimeni
4      Marcel     Hájek
12   Karolína     Short
13   Michelle   Vlčková
16       John    Bailey
17    William   Shelton
18  Miroslava    Veselá
21     Nathan   Svoboda
24     Robert      Říha
33   Jindřich    Howell
34  Alexander  Martinez
48   Jennifer     Brown
50     Robert    Macias
55       Ivan    Bartoš

In [13]:
#Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.
prum_plat=zamestnanci_platy.groupby('město')['plat'].mean().round()
prum_plat

město
Liberec    43775.0
Plzeň      44793.0
Praha      43295.0
Name: plat, dtype: float64