In [18]:
import pandas as pd
#Načti data ze souboru a ulož je do tabulky.
vykazy = pd.read_csv("vykazy.csv")

In [15]:
#Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.
pocet_hodin=vykazy.groupby('project')['hours'].sum()

In [25]:
#Nepovinný bonus 2: 
#Propoj tabulku s výkazy s tabulkou se zaměstnanci, kterou jsi vytvořil(a) v předchozím cvičení.
zam_praha = pd.read_csv("zam_praha.csv")
zam_plzen = pd.read_csv("zam_plzen.csv")
zam_liberec = pd.read_csv("zam_liberec.csv")

zam_praha["město"] = "Praha"
zam_plzen["město"] = "Plzeň"
zam_liberec["město"] = "Liberec"

zamestnanci = pd.concat([zam_praha, zam_plzen, zam_liberec], ignore_index=True)

zamestnanci_vykazy = pd.merge(zamestnanci, vykazy, left_on='cislo_zamestnance', right_on='emloyee_id', how="inner")

In [24]:
#Následně proveď statistiku vykázaných hodin za jednotlivé kanceláře, tj. spočítej celkový počet hodin vykázaný zaměstnanci jednotlivých kanceláří na projekty daného zákazníka.
vykazane_hodiny=zamestnanci_vykazy.groupby(['město', 'project'])['hours'].sum().reset_index()
vykazane_hodiny

     město project  hours
0  Liberec     TE1   10.8
1  Liberec     W05    5.4
2  Liberec     YLI   11.8
3    Plzeň     F30   10.3
4    Plzeň     YLI    5.3
5    Praha     F30   11.2
6    Praha     JL9    2.1
7    Praha     TE1    5.2
8    Praha     W05   25.1
9    Praha     YLI   13.9